{
  "name": "{{ item.name }}",
  "online": true,
  "storage": {
    "blobStoreName": "{{ item.blobStore|default('default') }}",
    "strictContentTypeValidation": true
  },
  "group": {
    "memberNames": [
      "{{ item.members|default('string') }}"
    ],
    "writableMember": "string"
  },
  "docker": {
    "v1Enabled": false,
    "forceBasicAuth": true,
    "httpPort": 8082,
    "httpsPort": 8083
  }
}