{
    "name": "{{ item.name }}",
    "online": true,
    "storage": {
      "blobStoreName": "default",
      "strictContentTypeValidation": true,
      "writePolicy": "allow_once"
    },
    "cleanup": {
      "policyNames": [
        "{{ item.policy if p is not none else 'string' }}"
      ]
    },
    "component": {
      "proprietaryComponents": true
    },
    "maven": {
      "versionPolicy": "MIXED",
      "layoutPolicy": "STRICT",
      "contentDisposition": "ATTACHMENT"
    }
  }